body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f55a5a;
  color: white;
  height: 55px;
  gap: 7px;
}

.nav--icon {
  width: 24px;
}

.nav--title {
  font-size: 16px;
  letter-spacing: -0.5px;
}

/* Cards */
.cards-list {
  width: 550px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
}

.card--info {
  display: flex;
  flex-direction: column;
}

.card--location {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #2b283a;
}

.card--icon {
  width: 7px;
  height: 10px;
}

.card--country {
  letter-spacing: 2px;
}

.card--map {
  color: #918e9b;
  text-decoration: underline;
  font-size: 12px;
}

.card--title {
  margin: 5px 0;
  font-size: 25px;
  color: #2b283a;
}

.card--dates {
  font-weight: 700;
  font-size: 12px;
  color: #2b283a;
  margin-bottom: 8px;
}

.card--desc {
  font-size: 12px;
  line-height: 1.4;
  color: #2b283a;
}
